@model WebApplication.Extensions.PaginatedList<Domain.ProjectTask>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="get">
            <div class="form-horizontal">
                <input type="text" id="SearchString" placeholder="Title, Description, Client..." name="SearchString" class="form-control" value="@ViewData["currentFilter"]"/>
                <input type="submit" value="Search" class="btn btn-default"/> |
                <a asp-action="Index">Back to Full List</a>
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortId"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().Id)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortStatus"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().Status.Name)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortDone"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().AmountDone)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortPriority"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().Priority.Name)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortTitle"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().Title)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortClient"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().ClientName)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortAssignee"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().Assignee)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortModifiedAt"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.First().ModifiedAt)</a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority.Name)
            </td>
            <td>
                @Html.ActionLink(item.Title, "Details", "ProjectTask", new { item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignee.FirstLastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
