@model Domain.UserTitle

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    <h4>List of users with title</h4>
    <dl class="dl-horizontal">
        @if(Model.Users.Any()) { 
            <dt class="">
                @Html.DisplayNameFor(model => model.Users.First().FirstLastname)
            </dt>
        }
        @foreach (var item in Model.Users)
        {
            <dd>
                @Html.DisplayFor(modelItem => item.FirstLastname)
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
